.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(102, 102, 102);
  padding-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
